body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: black;
    
}
.loading1 {
    height: 30px;
    width: 30px;
    border: 10px solid yellow; /* Initial color */
    border-radius: 4px;
    position: absolute;
    top: 43%;
    left: 32%;
    transform: translate(-50%, -50%);
    animation: loading 6s ease-in-out infinite, colorChange1 5s infinite;
    box-shadow: 0 0 10px yellow, 0 0 10px yellow inset;
}
.loading2 {
    height: 45px;
    width: 45px;
    border: 10px solid rgb(255, 0, 0); /* Initial color */
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    animation: loading 3.5s ease-in-out infinite, colorChange2 5s infinite;
    box-shadow: 0 0 10px rgb(255, 0, 0), 0 0 10px rgb(255, 0, 0) inset;
}
.loading3 {
    height: 40px;
    width: 40px;
    border: 10px solid rgb(14, 232, 14); /* Initial color */
    border-radius: 4px;
    position: absolute;
    top: 41%;
    left: 40%;
    transform: translate(-50%, -50%);
    animation: loading 5s ease-in-out infinite, colorChange3 5s infinite;
    box-shadow: 0 0 10px lightgreen, 0 0 10px lightgreen inset;
}


.loading {
    height: 60px;
    width: 60px;
    border: 10px solid aqua; /* Initial color */
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    animation: loading 4s ease-in-out infinite, colorChange 5s infinite;
    box-shadow: 0 0 10px aqua, 0 0 10px aqua inset;
}

/* 3D Rotation */
@keyframes loading {
    0% {
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    33% {
        transform: rotateX(180deg) rotateY(0) rotateZ(0);
    }
    67% {
        transform: rotateX(180deg) rotateY(180deg) rotateZ(0);
    }
    100% {
        transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
    }
}

/*@keyframes colorChange {
    0% {
        border-color: aqua;
        box-shadow: 0 0 8px aqua, 0 0 8px aqua inset;
    }
    33% {
        border-color: rgb(255, 42, 0);
        box-shadow: 0 0 8px rgb(255, 42, 0), 0 0 8px rgb(255, 42, 0) inset;
    }
    67% {
        border-color: rgb(0, 255, 47);
        box-shadow: 0 0 8px rgb(0, 255, 47), 0 0 8px rgb(0, 255, 47) inset;
    }
    100% {
        border-color: yellow;
        box-shadow: 0 0 8px yellow, 0 0 8px yellow inset;
    }
}

@keyframes colorChange1 {
    33% {
        border-color: aqua;
        box-shadow: 0 0 8px aqua, 0 0 8px aqua inset;
    }
    0% {
        border-color: rgb(255, 42, 0);
        box-shadow: 0 0 8px rgb(255, 42, 0), 0 0 8px rgb(255, 42, 0) inset;
    }
    100% {
        border-color: rgb(0, 255, 47);
        box-shadow: 0 0 8px rgb(0, 255, 47), 0 0 8px rgb(0, 255, 47) inset;
    }
    67% {
        border-color: yellow;
        box-shadow: 0 0 8px yellow, 0 0 8px yellow inset;
    }
}

@keyframes colorChange2 {
    100% {
        border-color: aqua;
        box-shadow: 0 0 8px aqua, 0 0 8px aqua inset;
    }
    67% {
        border-color: rgb(255, 42, 0);
        box-shadow: 0 0 8px rgb(255, 42, 0), 0 0 8px rgb(255, 42, 0) inset;
    }
    0% {
        border-color: rgb(0, 255, 47);
        box-shadow: 0 0 8px rgb(0, 255, 47), 0 0 8px rgb(0, 255, 47) inset;
    }
    33% {
        border-color:yellow;
        box-shadow: 0 0 8px yellow, 0 0 8px yellow inset;
    }
}

@keyframes colorChange3 {
    67% {
        border-color: aqua;
        box-shadow: 0 0 8px aqua, 0 0 8px aqua inset;
    }
    100% {
        border-color: rgb(255, 42, 0);
        box-shadow: 0 0 8px rgb(255, 42, 0), 0 0 8px rgb(255, 42, 0) inset;
    }
    33% {
        border-color: rgb(0, 255, 47);
        box-shadow: 0 0 8px rgb(0, 255, 47), 0 0 8px rgb(0, 255, 47) inset;
    }
    0% {
        border-color: yellow;
        box-shadow: 0 0 8px yellow, 0 0 8px yellow inset;
    }
}

